@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

body {
  font-family: "Nanum Gothic", sans-serif;
  color: #111;
  font-size: 16px;
}

.btn {
  font-size: 16px;
  width: 168px;
  height: 46px;
  border: none;
  border-radius: 46px;
  cursor: pointer;
  background-color: #fff;
  color: #111;
}

.btn.dark {
  background-color: #111;
  color: #fff;
}

.btn_type2 {
  width: auto;
  height: auto;
  border-radius: unset;
  padding: 12px 0;
  border-bottom: 1px solid #111;
  background-color: transparent;
  margin-right: 42px;
}

.btn.small {
  font-size: 14px;
  width: 120px;
  height: 36px;
  border: 1px solid #111;
  transition: all 0.3s;
}

.btn.btn.small:hover {
  border: 1px solid #eb5757;
  background-color: #eb5757;
  color: #fff;
}

.center_box {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.top {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 40px;
  font-weight: 700;
  margin-right: auto;
}

.nav {
  display: flex;
  align-items: center;
}

.nav li a {
  display: inline-block;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 14px;
  margin: 0 30px;
  position: relative;
}

.nav li a.on {
  color: #eb5757;
}

.nav li a:hover {
  color: #eb5757;
}

.nav li a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  background-color: #eb5757;
  bottom: 0;
  left: 0;
  transition: all 0.3s;
}

.nav li a:hover::after {
  width: 100%;
}

.cart i {
  font-size: 24px;
  margin-left: 30px;
  position: relative;
}

.cart i span {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 16px;
  height: 16px;
  background-color: #ff0000;
  color: #fff;
  border-radius: 16px;
  font-size: 10px;
  font-weight: 700;
  text-align: center;
  line-height: 16px;
}

.slide {
  background-color: #f5f5f5;
}

.inner {
  height: 500px;
  background-image: url("/images/slide_bg.png");
  background-repeat: no-repeat;
  background-position: center right 30px;
  position: relative;
}

.slide .slide_btns {
  margin-left: 30px;
}

.slide .slide_text {
  position: absolute;
  top: 124px;
  left: 20px;
}

.slide .slide_text h2 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 40px;
  line-height: 1.3;
}

.slide .slide_text h2 b {
  font-size: 70px;
  font-weight: 800;
}

/* product_01 */
.product_01 {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.product_01 li {
  background-color: #f5f5f5;
  width: 560px;
  height: 320px;
  display: flex;
  align-items: center;
}

.product_01 li .photo {
  width: 228px;
  height: 160px;
  position: relative;
}

.product_01 li .photo img {
  position: absolute;
  top: 0;
  left: 50%;
  width: 160px;
  transform: translateX(-50%);
}

.product_01 li .photo .first {
  opacity: 1;
  transition: all 0.6s;
}

.product_01 li .photo .second {
  opacity: 0;
  transition: all 0.6s;
}

.product_01 li:hover .photo .first {
  opacity: 0;
}

.product_01 li:hover .photo .second {
  opacity: 1;
}

.product_01 .detail h3 {
  font-size: 30px;
  font-weight: 800;
}

.product_01 .detail p {
  color: #666;
  padding-top: 16px;
  padding-bottom: 35px;
}

/* .product_02 */
.product_02 {
  margin-top: 120px;
  margin-bottom: 100px;
}

.product_02 .titles {
  text-align: center;
  margin-bottom: 64px;
}

.product_02 .titles h3 {
  font-size: 36px;
  font-weight: 800;
  padding-bottom: 26px;
}

.product_02 .titles p {
  color: #666;
}

.product_02 .items {
  display: flex;
  justify-content: space-between;
}

.product_02 .items li {
  width: 260px;
  height: 260px;
  background-color: #f5f5f5;
  position: relative;
}

.product_02 .items li img {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product_02 .items li img.first {
  opacity: 1;
  transition: all 0.6s;
}

.product_02 .items li img.second {
  opacity: 0;
  transition: all 0.6s;
}

.product_02 .items li:hover img.first {
  opacity: 0;
}

.product_02 .items li:hover img.second {
  opacity: 1;
}

/* banner */
.banner {
  height: 600px;
  background-image: url("/images/big_banner_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner .center_box {
  height: 600px;
  padding: 0;
  position: relative;
}

.banner .center_box .banner_text {
  position: absolute;
  top: 170px;
  left: 40px;
  color: #fff;
}

.banner .center_box .banner_text p {
  padding-top: 30px;
  padding-bottom: 56px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.banner .center_box .banner_text h2 {
  font-size: 64px;
  font-weight: 700;
}

/* .product_03 */
.product_03 {
  margin-top: 120px;
  margin-bottom: 100px;
}

.product_03 .titles {
  text-align: center;
  margin-bottom: 64px;
}

.product_03 .titles h3 {
  font-size: 36px;
  font-weight: 800;
  padding-bottom: 26px;
}

.product_03 .titles p {
  color: #666;
}

.product_03 .items {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.product_03 .items li {
  width: 260px;
  height: 260px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .product_04 */
.product_04 {
  margin-top: 120px;
  margin-bottom: 100px;
}

.product_04 .titles {
  text-align: center;
  margin-bottom: 64px;
}

.product_04 .titles h3 {
  font-size: 36px;
  font-weight: 800;
  padding-bottom: 26px;
}

.product_04 .titles p {
  color: #666;
}

.product_04 .items {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.product_04 .items li {
  width: 360px;
  height: 360px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  overflow: hidden;
}

.product_04 .items li img {
  width: 360px;
  height: 360px;
  transition: all 0.3s;
}

.product_04 .items li:hover img {
  transform: scale(1.2);
}

/* bottom */
.bottom {
  background-color: #222;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer {
  display: flex;
}

.footer_info {
  width: 600px;
}

.footer_info h1 {
  font-size: 40px;
  font-weight: 700;
}

.footer_info p {
  font-size: 14px;
  line-height: 22px;
  padding-top: 40px;
  padding-bottom: 24px;
}

.footer_menu {
  display: flex;
}

.footer_menu li {
  width: 200px;
}

.social_icons {
  display: flex;
}

.social_icons li a {
  display: inline-block;
  margin-right: 16px;
}

.social_icons li a i {
  font-size: 38px;
}

.footer_menu > li > a {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 50px;
}

.footer_menu ul li a {
  display: inline-block;
  font-size: 16px;
  color: #f5f5f5;
  margin-bottom: 30px;
}

.footer_menu ul li a:hover {
  text-decoration: underline;
}

.copyright {
  font-size: 12px;
  color: #f5f5f5;
  margin-top: 36px;
}
